In [1]:
import numpy as np
import pandas as pd

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# Split the data into predictors n target

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns!= 'Strength']]
target = concrete_data['Strength']

In [7]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
# Number of predictors

n_cols = predictors_norm.shape[1]
n_cols

8

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
# Regression Model

def regression_model():
    model = Sequential()
    model.add(Dense(10, activation ='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error'
)
    return model

In [11]:
# split the data into trg n test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors,
target, test_size=0.3, random_state=1)

In [12]:
# Model Create

model = regression_model()

In [13]:
# Model Fit

epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 778us/step - loss: 5354.9220
Epoch 2/50
721/721 [==============================] - 0s 306us/step - loss: 2552.6833
Epoch 3/50
721/721 [==============================] - 0s 282us/step - loss: 2123.1170
Epoch 4/50
721/721 [==============================] - 0s 285us/step - loss: 1869.1578
Epoch 5/50
721/721 [==============================] - 0s 327us/step - loss: 1672.8662
Epoch 6/50
721/721 [==============================] - 0s 303us/step - loss: 1500.4100
Epoch 7/50
721/721 [==============================] - 0s 304us/step - loss: 1366.59800s - loss: 1367.37
Epoch 8/50
721/721 [==============================] - 0s 303us/step - loss: 1243.0847
Epoch 9/50
721/721 [==============================] - 0s 330us/step - loss: 1132.1216
Epoch 10/50
721/721 [==============================] - 0s 389us/step - loss: 1040.1486
Epoch 11/50
721/721 [==============================] - 0s 308us/step - loss: 952.5204
Epoch 12/50
721/721 [==============================] - 0s 327us/step - loss: 886.7789
Epoch 13/50
721/721 [==============================] - 0s 332us/step - loss: 804.4128 0s - loss: 852.891
Epoch 14/50
721/721 [==============================] - 0s 364us/step - loss: 740.9147
Epoch 15/50
721/721 [==============================] - 0s 329us/step - loss: 683.8544
Epoch 16/50
721/721 [==============================] - 0s 333us/step - loss: 634.1145
Epoch 17/50
721/721 [==============================] - 0s 306us/step - loss: 586.1711
Epoch 18/50
721/721 [==============================] - 0s 281us/step - loss: 545.4057
Epoch 19/50
721/721 [==============================] - 0s 300us/step - loss: 510.1494
Epoch 20/50
721/721 [==============================] - 0s 417us/step - loss: 474.0517
Epoch 21/50
721/721 [==============================] - 0s 494us/step - loss: 440.0134
Epoch 22/50
721/721 [==============================] - 0s 312us/step - loss: 410.3576
Epoch 23/50
721/721 [==============================] - 0s 305us/step - loss: 383.4163
Epoch 24/50
721/721 [==============================] - 0s 336us/step - loss: 358.7115
Epoch 25/50
721/721 [==============================] - 0s 300us/step - loss: 336.5806
Epoch 26/50
721/721 [==============================] - 0s 308us/step - loss: 317.7150 0s - loss: 337.31
Epoch 27/50
721/721 [==============================] - 0s 304us/step - loss: 297.5086
Epoch 28/50
721/721 [==============================] - 0s 306us/step - loss: 287.3059
Epoch 29/50
721/721 [==============================] - 0s 304us/step - loss: 265.7220
Epoch 30/50
721/721 [==============================] - 0s 331us/step - loss: 251.5240
Epoch 31/50
721/721 [==============================] - 0s 357us/step - loss: 239.4375
Epoch 32/50
721/721 [==============================] - 0s 280us/step - loss: 230.2563
Epoch 33/50
721/721 [==============================] - 0s 306us/step - loss: 220.2583
Epoch 34/50
721/721 [==============================] - 0s 331us/step - loss: 208.4131
Epoch 35/50
721/721 [==============================] - 0s 302us/step - loss: 198.2497
Epoch 36/50
721/721 [==============================] - 0s 337us/step - loss: 190.9661
Epoch 37/50
721/721 [==============================] - 0s 521us/step - loss: 183.6253
Epoch 38/50
721/721 [==============================] - 0s 332us/step - loss: 180.4110
Epoch 39/50
721/721 [==============================] - 0s 309us/step - loss: 172.1524 0s - loss: 160.43
Epoch 40/50
721/721 [==============================] - 0s 498us/step - loss: 165.0686
Epoch 41/50
721/721 [==============================] - 0s 272us/step - loss: 161.4180
Epoch 42/50
721/721 [==============================] - 0s 302us/step - loss: 154.8686
Epoch 43/50
721/721 [==============================] - 0s 280us/step - loss: 154.1361
Epoch 44/50
721/721 [==============================] - 0s 281us/step - loss: 149.7388
Epoch 45/50
721/721 [==============================] - 0s 328us/step - loss: 147.3195
Epoch 46/50
721/721 [==============================] - 0s 332us/step - loss: 142.6984
Epoch 47/50
721/721 [==============================] - 0s 528us/step - loss: 138.2503
Epoch 48/50
721/721 [==============================] - 0s 337us/step - loss: 137.6891
Epoch 49/50
721/721 [==============================] - 0s 305us/step - loss: 134.0639
Epoch 50/50
721/721 [==============================] - 0s 312us/step - loss: 132.0765

In [14]:
# Model Evalation on test data

loss = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss

309/309 [==============================] - 0s 314us/step

151.7443627909935

In [15]:
# MSE btw the predicted concrete strength and its actual

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print (mse)

151.744366898116

In [16]:
from sklearn.metrics import mean_squared_error
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE " +str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mserror = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mserror)
                                        
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
sd = np.std(mean_squared_errors)
                                        
print("Mean: "+str(mean))
print("Standard Deviation: "+str(sd))

MSE 1: 340.1911243821425
MSE 2: 174.68493420252136
MSE 3: 124.1184705715735
MSE 4: 124.91096311402552
MSE 5: 123.04729790054864
MSE 6: 101.01322616033956
MSE 7: 114.69161113257547
MSE 8: 75.68424812489728
MSE 9: 80.02985093200091
MSE 10: 66.08670187150776
MSE 11: 54.221522161489936
MSE 12: 50.66216829911019
MSE 13: 53.8096177307919
MSE 14: 54.85913163712881
MSE 15: 42.99110089150833
MSE 16: 37.2019359131847
MSE 17: 41.957891606204335
MSE 18: 37.81191489457313
MSE 19: 39.7409799939992
MSE 20: 37.99447371350137
MSE 21: 33.950920142016365
MSE 22: 37.73007581149104
MSE 23: 31.81871575907982
MSE 24: 33.00606531927115
MSE 25: 35.08509897028358
MSE 26: 36.378277652086176
MSE 27: 31.332429027866006
MSE 28: 29.378377303336432
MSE 29: 35.20402258962489
MSE 30: 32.58146721182518
MSE 31: 31.248621079528217
MSE 32: 28.867201505741257
MSE 33: 31.086505124484066
MSE 34: 31.646818846174813
MSE 35: 33.65938856995221
MSE 36: 37.43940754615759
MSE 37: 27.271443194170214
MSE 38: 36.4726421763596
MSE 39: 30.25698893278548
MSE 40: 27.995386987828127
MSE 41: 33.04824380349959
MSE 42: 29.23772340916507
MSE 43: 31.39256194031354
MSE 44: 36.351275484152985
MSE 45: 32.995355896193615
MSE 46: 31.45641615784284
MSE 47: 31.60968975573296
MSE 48: 33.019193173998
MSE 49: 32.404730991252414
MSE 50: 33.16585696322247
Mean: 55.05600121099122
Standard Deviation: 51.688656411362274

In [18]:
## Above is the mean and standard deviation of 50 mean squared errors WITH normalized data.
## Mean = 55.05600121099122
# Standard Deviation = 51.688656411362274

In [1]:
## Mean of the mean squared error without normalized data = 50.44937004899146
## Mean of the mean squared error with    normalized data = 55.0560012109912