In [1]:
import numpy as np
import pandas as pd

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# Split the data into predictors n target

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns!= 'Strength']]
target = concrete_data['Strength']

In [7]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
# Number of predictors

n_cols = predictors_norm.shape[1]
n_cols

8

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [11]:
# Regression Model

def regression_model():
    model = Sequential()
    model.add(Dense(10, activation ='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation = 'relu'))
    model.add(Dense(10, activation = 'relu'))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error'
)
    return model

In [12]:
# split the data into trg n test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors,
target, test_size=0.3, random_state=1)

In [13]:
# Model Create

model = regression_model()

In [14]:
# Model Fit

epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 1ms/step - loss: 1061.6380
Epoch 2/50
721/721 [==============================] - 0s 364us/step - loss: 474.0514
Epoch 3/50
721/721 [==============================] - 0s 445us/step - loss: 349.0569
Epoch 4/50
721/721 [==============================] - 0s 391us/step - loss: 231.6003
Epoch 5/50
721/721 [==============================] - 0s 497us/step - loss: 208.6578
Epoch 6/50
721/721 [==============================] - 0s 471us/step - loss: 195.5671
Epoch 7/50
721/721 [==============================] - 0s 472us/step - loss: 177.0607
Epoch 8/50
721/721 [==============================] - 0s 445us/step - loss: 165.6597
Epoch 9/50
721/721 [==============================] - 1s 695us/step - loss: 158.3624
Epoch 10/50
721/721 [==============================] - 0s 521us/step - loss: 146.8512
Epoch 11/50
721/721 [==============================] - 0s 443us/step - loss: 144.8773
Epoch 12/50
721/721 [==============================] - 0s 500us/step - loss: 134.5875
Epoch 13/50
721/721 [==============================] - 0s 395us/step - loss: 129.0244
Epoch 14/50
721/721 [==============================] - 0s 416us/step - loss: 125.2187
Epoch 15/50
721/721 [==============================] - 0s 443us/step - loss: 120.1298
Epoch 16/50
721/721 [==============================] - 0s 468us/step - loss: 123.3268
Epoch 17/50
721/721 [==============================] - 0s 444us/step - loss: 119.3101
Epoch 18/50
721/721 [==============================] - 0s 442us/step - loss: 118.1749
Epoch 19/50
721/721 [==============================] - 0s 497us/step - loss: 119.5956 0s - loss: 122.0
Epoch 20/50
721/721 [==============================] - 0s 584us/step - loss: 113.7481
Epoch 21/50
721/721 [==============================] - 0s 467us/step - loss: 109.6532
Epoch 22/50
721/721 [==============================] - 0s 471us/step - loss: 107.6197
Epoch 23/50
721/721 [==============================] - 0s 441us/step - loss: 107.2130
Epoch 24/50
721/721 [==============================] - 0s 446us/step - loss: 105.9519
Epoch 25/50
721/721 [==============================] - 0s 419us/step - loss: 105.3890
Epoch 26/50
721/721 [==============================] - 0s 467us/step - loss: 103.1145
Epoch 27/50
721/721 [==============================] - 0s 391us/step - loss: 100.7344
Epoch 28/50
721/721 [==============================] - 0s 448us/step - loss: 105.3576
Epoch 29/50
721/721 [==============================] - 0s 445us/step - loss: 105.9967
Epoch 30/50
721/721 [==============================] - 0s 471us/step - loss: 99.1859
Epoch 31/50
721/721 [==============================] - 1s 890us/step - loss: 107.8333
Epoch 32/50
721/721 [==============================] - 0s 469us/step - loss: 97.3229
Epoch 33/50
721/721 [==============================] - 0s 469us/step - loss: 97.1997
Epoch 34/50
721/721 [==============================] - ETA: 0s - loss: 97.72 - 0s 443us/step - loss: 96.6819
Epoch 35/50
721/721 [==============================] - 0s 441us/step - loss: 92.6891
Epoch 36/50
721/721 [==============================] - 0s 414us/step - loss: 91.2648
Epoch 37/50
721/721 [==============================] - 0s 415us/step - loss: 97.0440
Epoch 38/50
721/721 [==============================] - 0s 608us/step - loss: 90.0776
Epoch 39/50
721/721 [==============================] - 0s 414us/step - loss: 91.3714
Epoch 40/50
721/721 [==============================] - 0s 422us/step - loss: 86.3077
Epoch 41/50
721/721 [==============================] - 0s 392us/step - loss: 86.2364
Epoch 42/50
721/721 [==============================] - 0s 412us/step - loss: 83.9504
Epoch 43/50
721/721 [==============================] - 0s 469us/step - loss: 86.5901
Epoch 44/50
721/721 [==============================] - 0s 417us/step - loss: 82.1296
Epoch 45/50
721/721 [==============================] - 0s 440us/step - loss: 80.7578
Epoch 46/50
721/721 [==============================] - 0s 469us/step - loss: 80.6523
Epoch 47/50
721/721 [==============================] - 0s 419us/step - loss: 79.1970
Epoch 48/50
721/721 [==============================] - 0s 466us/step - loss: 81.2247
Epoch 49/50
721/721 [==============================] - 0s 418us/step - loss: 82.1897
Epoch 50/50
721/721 [==============================] - 0s 439us/step - loss: 76.7658

In [15]:
# Model Evalation on test data

loss = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss

309/309 [==============================] - 0s 366us/step

94.26318927258735

In [16]:
# MSE btw the predicted concrete strength and its actual

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print (mse)

94.26318854353711

In [17]:
from sklearn.metrics import mean_squared_error
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE " +str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mserror = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mserror)
                                        
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
sd = np.std(mean_squared_errors)
                                        
print("Mean: "+str(mean))
print("Standard Deviation: "+str(sd))

MSE 1: 90.68558252822234
MSE 2: 80.79675769497275
MSE 3: 45.35876867300484
MSE 4: 46.470717754178835
MSE 5: 39.64863292607675
MSE 6: 41.14777490313385
MSE 7: 41.27851596079212
MSE 8: 28.920940374479326
MSE 9: 30.265611864602295
MSE 10: 32.68933201762079
MSE 11: 30.036155675992998
MSE 12: 27.26966147438222
MSE 13: 33.56611353062503
MSE 14: 31.93832701155283
MSE 15: 25.62533029846389
MSE 16: 22.233604085483982
MSE 17: 28.189090290501664
MSE 18: 28.060931844618715
MSE 19: 26.490205369720954
MSE 20: 30.922619174599262
MSE 21: 24.39551807144313
MSE 22: 24.14856816881297
MSE 23: 24.133880880658296
MSE 24: 26.36308310795756
MSE 25: 29.781538071370047
MSE 26: 30.32328451335623
MSE 27: 24.238765173359596
MSE 28: 26.970687174874215
MSE 29: 27.209743518273807
MSE 30: 23.87486713372388
MSE 31: 22.44635536909875
MSE 32: 19.0003073732444
MSE 33: 21.40008349248892
MSE 34: 23.93384974211165
MSE 35: 24.110105730569092
MSE 36: 27.44224721791289
MSE 37: 18.303101144562262
MSE 38: 22.24792645895751
MSE 39: 25.230212794924245
MSE 42: 19.874335082217712
MSE 43: 20.252674065747307
MSE 44: 23.68826245181383
MSE 45: 24.585052922319825
MSE 46: 19.937925986873292
MSE 47: 19.44252867220289
MSE 48: 19.031870141384285
MSE 49: 22.296460370801412
MSE 50: 23.177828677649636
Mean: 29.189155013069666
Standard Deviation: 13.328820687968584

In [18]:
## Above is the mean and standard deviation of 50 mean squared errors WITH normalized data trained on 50 epochs with 3 hidden layers, each of 10 nodes
## Mean = 29.189155013069666
# Standard Deviation = 13.328820687968584

In [19]:
## Mean of the mean squared error with normalized data on with 1 hidden layer   =  55.0560012109912
## Mean of the mean squared error WITH normalized date on with 3 hidden layers  =  29.189155013069666