In [1]:
import numpy as np
import pandas as pd

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# Split the data into predictors n target

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns!= 'Strength']]
target = concrete_data['Strength']

In [7]:
# Number of predictors

n_cols = predictors.shape[1]
n_cols

8

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [9]:
# Regression Model

def regression_model():
    model = Sequential()
    model.add(Dense(10, activation ='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error'
)
    return model

In [10]:
# split the data into trg n test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors,
target, test_size=0.3, random_state=1)

In [11]:
# Model Create

model = regression_model()

In [12]:
# Model Fit

epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 939us/step - loss: 101853.5071
Epoch 2/50
721/721 [==============================] - 0s 309us/step - loss: 47368.9222
Epoch 3/50
721/721 [==============================] - 0s 358us/step - loss: 18273.5847
Epoch 4/50
721/721 [==============================] - 0s 357us/step - loss: 6798.4211
Epoch 5/50
721/721 [==============================] - 0s 306us/step - loss: 3867.1427
Epoch 6/50
721/721 [==============================] - 0s 383us/step - loss: 3341.9086
Epoch 7/50
721/721 [==============================] - 0s 308us/step - loss: 3074.7293
Epoch 8/50
721/721 [==============================] - 0s 356us/step - loss: 2832.3215
Epoch 9/50
721/721 [==============================] - 0s 334us/step - loss: 2608.0749
Epoch 10/50
721/721 [==============================] - 0s 360us/step - loss: 2395.9122
Epoch 11/50
721/721 [==============================] - 0s 336us/step - loss: 2202.0391
Epoch 12/50
721/721 [==============================] - 0s 303us/step - loss: 2024.9859
Epoch 13/50
721/721 [==============================] - 0s 304us/step - loss: 1862.1784
Epoch 14/50
721/721 [==============================] - 0s 301us/step - loss: 1711.5577
Epoch 15/50
721/721 [==============================] - 0s 329us/step - loss: 1576.7752
Epoch 16/50
721/721 [==============================] - 0s 309us/step - loss: 1451.3753
Epoch 17/50
721/721 [==============================] - 0s 305us/step - loss: 1336.9481
Epoch 18/50
721/721 [==============================] - 0s 332us/step - loss: 1235.1169
Epoch 19/50
721/721 [==============================] - 0s 363us/step - loss: 1139.7536
Epoch 20/50
721/721 [==============================] - 0s 339us/step - loss: 1054.2783
Epoch 21/50
721/721 [==============================] - 0s 354us/step - loss: 976.2615
Epoch 22/50
721/721 [==============================] - 0s 308us/step - loss: 904.4321
Epoch 23/50
721/721 [==============================] - 0s 355us/step - loss: 842.4909
Epoch 24/50
721/721 [==============================] - 0s 309us/step - loss: 780.1161
Epoch 25/50
721/721 [==============================] - 0s 443us/step - loss: 727.2496 0s - loss: 668.4
Epoch 26/50
721/721 [==============================] - 0s 556us/step - loss: 677.1077
Epoch 27/50
721/721 [==============================] - 0s 499us/step - loss: 631.8604
Epoch 28/50
721/721 [==============================] - 0s 576us/step - loss: 591.0669
Epoch 29/50
721/721 [==============================] - 0s 663us/step - loss: 556.5044
Epoch 30/50
721/721 [==============================] - 0s 530us/step - loss: 523.4140
Epoch 31/50
721/721 [==============================] - 0s 455us/step - loss: 490.2232
Epoch 32/50
721/721 [==============================] - 0s 324us/step - loss: 462.5824
Epoch 33/50
721/721 [==============================] - 0s 386us/step - loss: 438.0096
Epoch 34/50
721/721 [==============================] - 0s 357us/step - loss: 414.6360
Epoch 35/50
721/721 [==============================] - 0s 385us/step - loss: 394.8587
Epoch 36/50
721/721 [==============================] - 0s 334us/step - loss: 374.0944
Epoch 37/50
721/721 [==============================] - 0s 384us/step - loss: 357.3510
Epoch 38/50
721/721 [==============================] - 0s 444us/step - loss: 341.9894
Epoch 39/50
721/721 [==============================] - 0s 302us/step - loss: 326.4859
Epoch 40/50
721/721 [==============================] - 0s 333us/step - loss: 314.0869
Epoch 41/50
721/721 [==============================] - 0s 305us/step - loss: 301.2896
Epoch 42/50
721/721 [==============================] - 0s 306us/step - loss: 290.5113
Epoch 43/50
721/721 [==============================] - 0s 355us/step - loss: 280.3944
Epoch 44/50
721/721 [==============================] - 0s 309us/step - loss: 271.0288
Epoch 45/50
721/721 [==============================] - 0s 325us/step - loss: 262.5874
Epoch 46/50
721/721 [==============================] - 0s 307us/step - loss: 254.3866
Epoch 47/50
721/721 [==============================] - 0s 494us/step - loss: 246.7030
Epoch 48/50
721/721 [==============================] - 0s 306us/step - loss: 240.3401
Epoch 49/50
721/721 [==============================] - 0s 361us/step - loss: 234.6672
Epoch 50/50
721/721 [==============================] - 0s 334us/step - loss: 229.3541

In [13]:
# Model Evalation on test data

loss = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss

309/309 [==============================] - 0s 313us/step

225.70457418991137

In [14]:
# MSE btw the predicted concrete strength and its actual

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print (mse)

225.70456943173673

In [19]:
from sklearn.metrics import mean_squared_error
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE " +str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mserror = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mserror)
                                        
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
sd = np.std(mean_squared_errors)
                                        
print("Mean: "+str(mean))
print("Standard Deviation: "+str(sd))

MSE 1: 49.90456373097442
MSE 2: 68.56659637994365
MSE 3: 46.479070052359866
MSE 4: 49.15714599708137
MSE 5: 52.37039890721392
MSE 6: 52.093781381749025
MSE 7: 58.32754482034726
MSE 8: 47.193913209785535
MSE 9: 48.971673983972046
MSE 10: 51.83808684117586
MSE 11: 47.80214633139206
MSE 12: 45.70614177123628
MSE 13: 55.942473908458325
MSE 14: 52.86977859299545
MSE 15: 49.68782224932921
MSE 16: 43.15169966490909
MSE 17: 48.954662520522824
MSE 18: 48.87146897300548
MSE 19: 46.3015224740729
MSE 20: 49.66466050626391
MSE 21: 44.425454840305164
MSE 22: 47.12307546671155
MSE 23: 45.15734637362286
MSE 24: 45.842305587719174
MSE 25: 49.69406604458213
MSE 26: 47.626687898605
MSE 27: 51.705565369244916
MSE 28: 44.820812151270005
MSE 29: 54.53893055344862
MSE 30: 50.00184470858775
MSE 31: 53.38740611153513
MSE 32: 44.727919526084726
MSE 33: 47.54122626048461
MSE 34: 49.752118033498625
MSE 35: 53.573132561248485
MSE 36: 58.64809106623085
MSE 37: 51.53609966537327
MSE 38: 54.06701825583251
MSE 39: 48.33623310817484
MSE 40: 45.558070309339605
MSE 41: 54.85000968365222
MSE 42: 44.9352474274373
MSE 43: 48.177568701092866
MSE 44: 56.32085998930206
MSE 45: 51.86859775283962
MSE 46: 55.14494686682247
MSE 47: 52.66866119779815
MSE 48: 50.441842039040374
MSE 49: 51.37509766365718
MSE 50: 54.76713218812418
Mean: 50.449370048991426
Standard Deviation: 4.547960785269116

In [20]:
## Above is the mean and standard deviation of 50 mean squared errors WITHOUT normalized data.
## Mean = 50.449370048991426
# Standard Deviation = 4.547960785269116